[Unit]
Description=Neverseen agent
After=network-online.target

[Service]
EnvironmentFile=/home/o'brien/.neverseen/.env
ExecStart="/home/o'brien/.local/bin/neverseen" proxy
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
